body{
    font-family: 'Uchen', serif;
    margin:0px ;
}
h1{
    font-size: 60px;
    
}
.food-color{
    color: cadetblue;
}
section{
    display: flex;
}
.food-w{
    width: 40%;
    padding-left: 5%;
}
.food-w img{
width: 100%;

}
.button{ text-decoration: none;
background-color: gainsboro;
padding: 10px 50px 
border-radius: 5px;
background-image: linear-gradient(yellow,blue);
color:yellow;



}
.food-cc{
    color: gold;

}
.food-tt{
    width;20%
    padding-right:10%
}
.food-tt img{ 
    widt:100%
}
.colour{
    color: hotpink;

}
.net{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    box-shadow: 10px 15px 40px wheat;
    width: 40%;
    background-color: cornsilk;
    border-radius: 5px;}
 footer{
     background-color: thistle;
     color:tomato
     
 }

    
